@import url('https://fonts.googleapis.com/css2?family=Mooli&family=Roboto&display=swap');


:root {
  /* change the values below to your colors from your palette */
  --primary-color: #ccd5ae;
  --secondary-color: #e9edc9;
  --accent1-color: #fefae0;
  --accent2-color: #d4a373;

  /* change the values below to your chosen font(s) */
  --heading-font: "Roboto";
  --paragraph-font: Helvetica, "Mooli", sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #dda15e;  /* headlines on a white background */ 
  --headline-color-on-color: #e9edc9; /* headlines on a colored background */ 
  --paragraph-color-on-white: #d4a373; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #ccd5ae; /* paragraph text on a colored background */ 
  --paragraph-background-color: #606c38  ;
  --nav-link-color: #dda15e;
  --nav-background-color: #fefae0;
  --nav-hover-link-color: #606c38;
  --nav-hover-background-color: #e9edc9;
}

* {
  margin: 1px;}
header {
  background-color: #606c38;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 180px;
}

#logo_link {
  text-decoration: none;
  color: #333;
  padding-top: 5px;
  justify-self: center;
  align-self: center;
}

.social {
  display: flex;
  align-items: center;
}

header .social img {
  padding-top: 15px;
  display: grid;
}

nav {
  text-align: center; 
  color: #000000;
  text-decoration: none;
  padding: 35px; 
  text-align: center;
  display: flex;
  justify-content: space-between;
  font-size: 200%;
  
  
}



nav a:hover {
  background-color: #fcfbfb;
}

body {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
  background-color: #fcfbfb;
  font-family: Raleway, Arial, sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 0;
}

#mid-portion {
  border: 5px solid black;
  padding: 20px;
  margin-top: 20px;
}

.heading-about {
  border: 3px solid #ccc;
  padding: 3px;
  margin-top: 3px;
}

.paragraph-about {
  border: 5px solid #ccc;
  padding: 20px;
  margin-top: 20px;
}

.location {
  border: 3px solid #ccc;
  padding: 3px;
  margin-top: 20px;
}

#bottom-portion {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  grid-template-rows: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Gap between grid items */
}

section {
  text-align: center; /* Center text in each section */
}

.image_1, .image_2, .image_3, .image_4 {
  max-width: 100%; /* Ensure images do not exceed their container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 8px; /* Optional: Add rounded corners to images */
  border: 3px solid black; /* Border for each image */
 
}

.home-title {
  font-family: 'Rock Salt', 'Bradley Hand', sans-serif;
  font-size: 2em;
  color: #721817;
  margin-top: 10px;
}

h2 {
  margin: 0;
}

#content {
  max-width: 1600px;
  margin: 0 auto;
}

#background {
  height: 725px;
}

#hero {
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  margin-top: -100px;
}

#hero-box {
  grid-column: 1/4;
  grid-row: 1/3; 
  z-index: -1;
}

#hero-msg {
  grid-column: 2/3;
  grid-row: 1/2; 
  margin-top: 100px;
}
#hero-msg h1 {
  text-align: center;
}

#hero-msg h4 {
  text-align: center;
  grid-column: 2/3;
  grid-row: 1/2;
}

.button-box {
  text-align: center;
}

main section {
  text-align: center;
}

#background {
  grid-column: 1/11;
  grid-row: 4/9;
}

footer {
  display: flex;
  justify-content: center; /* Align items in the center horizontally */
  align-items: center; /* Align items in the center vertically */
  background-color: #606c38; /* Optional background color */
  color: #fff; /* Optional text color */
  padding: 10px; /* Optional padding */
}

footer p {
  margin: 0; /* Remove default margin */
  padding: 0 10px; /* Optional padding between paragraphs */
}

footer a {
  text-decoration: none;
  color: #fff; /* Optional link color */
  margin: 0 10px; /* Optional margin around links */
}

#menu-content {
  text-align: center;
}

.menu {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
  border: 3px solid black;
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px; /* Optional: Add rounded corners to images */
}

#menu-portion {
 
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns */
  gap: 20px; /* Gap between grid items */
}

.light_meals, .beverages {
  border: 3px solid black;

}

.light_meals h2,
.beverages h2{
  text-align: center;
}

.light_meals li,
.beverages li{
  text-align: left;
}

.light_meals img {
  max-width: 100%;
  height: 200%;
  border-radius: 8px; /* Optional: Add rounded corners to images */
}

.light_meals img {
    height: 50%;
    width: 50%;
  }

  .beverages img {
    height: 50%;
    width: 50%;
  }

  /* FAQs */

  #faqs-content {
    float: left;
    margin-left: 8px;
    margin-right: 8px;
}
  .content_main {
    position: relative;
    float: left;
  }

  .content_main p {
    margin-bottom: 20px;
  }
  .content_main h5 {
    margin-bottom: 20px;
  }

.faqs-intro img {
  height: 10%;
  width: 30%;
}

  .faqs-img {
    height: 10%;
    width: 10%;
    float: right
    
}

.faqs-intro h3 {

    float: left;
    align-items: flex-end;
    position: relative;
    margin-bottom: 200px;
}

.content_main img {
     width: 30%;
     height: 30%;
}


.book, .join {
  background-color: #aa9aba; 
  font-size: 18px;
  margin-top: 50px;
  color: #000000;
  text-align: center; 
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 5px;
}

.book:hover, .join:hover {
  background-color: #fcfbfb; 
}

#background {
  background-color: #aa9aba; 
}

footer .social img {
  padding-top: 15px;
}
  


/*  nav a
nav a:hover
.home-title
h4
.book, .join
.book:hover, .join:hover
 */

nav a:hover {    
  color: #721817;
}

h4 {    
  color: #721817;
}

.book:hover, .join:hover {    
  color: #721817;
}

.msg h2 {    
  color: #721817;
}

.msg p {    
  color: #721817;
  font-size: .8em;
  padding-bottom: 15px;
}

footer a:hover {    
  color: #721817;
}

/* adding a few widths */

.logo {
  width: 0.6em;
  height: 0.6em;
  margin: 30px;
}


.icon {
  width: 80px;
  padding-top: 10px;

}

#hero-img {
  width: 100%;
}

/*  15. Take off or add the default underline of links */


footer a {
  text-align: center; 
  color: #000000;
  text-decoration: none;
}

footer p {
  font-size: 1.2em;
}  

footer p a:hover {
  text-decoration: underline;
}   

.rivers-card, .camping-card, .rapids-card {
  margin: 200px 0;
}

main section img {
  box-sizing: border-box;
}

/* 6. Enhancements (transition, shadow, transform, opacity */

.card-img {
  border: 10px solid black;
  transition: transform .5s;
  box-shadow: 5px 5px 10px #6f7364
}

.card-img:hover {
  opacity: 0.6;
  transform: scale(1.1);
}

.msg {
  background-color: #6f7364;
  line-height: 1.5em;
  padding: 35px;
  grid-column: 6/10;
  grid-row: 6/7;
  box-shadow: 5px 5px 10px #6f7364;
}

.mountains {
  grid-column: 2/7;
  grid-row: 5/8;
  box-shadow: 5px 5px 10px #6f7364;

}

/*  FAQs CSS  */
.faqs-img {
  height: 50%;
  width: 50%;
  float: right
  
}

.faqs-h3 {
  float: left;
  align-items: flex-end;
}

.faqs-content {
  float: left;
}

/* About Us CSS */

.paragraph-about-about {
  border: 5px solid #ccc;
  padding: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.paragraph-about-about p {
  font-size: 120%;
}

/* Working with HTML forms */

form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  margin-top: 150px;
  margin-bottom: 150px; 
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

#feedback {
  background-color: antiquewhite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: .5em;
  /* make this element invisible until we are ready for it */
  display: none;    
 
}
.moveDown {
  margin-top: 3em;
}


/* 7. Responsive design */ 

@media screen and (max-width: 900px) {
  #hero, .home-grid {
      display: block;
      height: auto;
  }
  nav, footer {
      flex-direction: column;
  }
  nav a {
      display: block;
      padding: 15px;
     
  }
  #hero {
      margin-top: 0;
  }
  #hero-msg {
      margin-top: 0;
  }
  #hero-msg h4 {
      display: none;
  }
  #hero-msg h1 {
      color: #6f7364;
  }
  .home-title {
      font-size: 25px;
  }
  .rivers-card, .camping-card, .rapids-card { 
      margin: 50px auto;
      width: 60%;
  }
  #background {
      display: none;
  }
  .mountains, .msg {
      width: 80%;
      display: block;
      margin: 0 auto;
  }
  footer {
      margin-top: 25px;
  }
}














/* JS slideshow for the homepage */

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
